/* The animation code */
@keyframes slideLeft {
  0% {
    -webkit-transform: scale(1.9) translateX(-30%) rotate(22.8deg);
    width: 100%; }
  50% {
    -webkit-transform: scale(1) translateX(0) rotate(0);
    width: 100%; }
  100% {
    -webkit-transform: scale(1) translateX(0) rotate(0deg);
    width: 0%; } }

@keyframes linkUp {
  0% {
    position: relative;
    bottom: 0px;
    opacity: 1; }
  25% {
    position: relative;
    bottom: 0px; }
  100% {
    position: relative;
    opacity: 0;
    bottom: 300px; } }

@keyframes linkDown {
  0% {
    position: relative;
    top: 0px;
    opacity: 1; }
  25% {
    position: relative;
    top: 0px; }
  100% {
    position: relative;
    opacity: 0;
    top: 500px; } }

@keyframes projectList {
  0% {
    opacity: 0;
    position: relative;
    top: 500px; }
  100% {
    opacity: 1;
    position: relative;
    top: 0px; } }

@keyframes fadeInProjects {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes content-container-fadeout {
  0% {
    position: relative;
    top: 0;
    opacity: 1; }
  100% {
    position: relative;
    top: 100%;
    opacity: 0; } }

@keyframes animateImg {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes animateImg2 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes animateImg3 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes content-container-fadein {
  0% {
    position: relative;
    top: -100%;
    opacity: 0; }
  100% {
    position: relative;
    top: 0;
    opacity: 1; } }

** {
  font-family: "Roboto", sans-serif; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: none; }

.background {
  height: 100%;
  width: 100%;
  z-index: 0; }

#background-both {
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 0; }

#background-one {
  z-index: 10;
  width: 100%;
  opacity: 30%;
  background: linear-gradient(100deg, blue, white);
  -webkit-transform: scale(1.9) translateX(-25%) rotate(23deg);
  border: none;
  border-bottom: none; }

#background-one:focus {
  outline: none;
  border: none; }

.background-one-transition-active {
  animation-name: slideLeft;
  animation-duration: 1.2s;
  animation-delay: 0s; }

#background-two {
  background-color: #eceaf9;
  opacity: 1;
  -webkit-transform: scale(35) translateX(-25%) rotate(23deg); }

#start-content-div {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  z-index: 1; }

#link-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 5; }
  #link-nav .link-box {
    width: 100%;
    height: 50%; }
  #link-nav #project-link-div {
    display: flex;
    align-items: flex-end; }
  #link-nav #project-link {
    text-align: left;
    margin-left: 5%;
    align-items: center; }
    @media screen and (min-width: 769px) {
      #link-nav #project-link {
        margin-left: 15%;
        margin-bottom: 5%; } }
  #link-nav #cv-link {
    text-align: right;
    margin-right: 10%; }
    @media screen and (min-width: 769px) {
      #link-nav #cv-link {
        margin-right: 20%; } }
  #link-nav .project-link-animation {
    animation-name: linkUp;
    animation-duration: 0.7s; }
  #link-nav .cv-link-animation {
    animation-name: linkDown;
    animation-duration: 0.7s; }
  #link-nav #project-link {
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 6px rgba(150, 150, 150, 0.97); }
  #link-nav #cv-link {
    font-size: 3rem;
    color: #aca3f0; }
  #link-nav h2:hover {
    cursor: pointer; }

@keyframes slideLeft {
  0% {
    -webkit-transform: scale(1.9) translateX(-30%) rotate(22.8deg);
    width: 100%; }
  50% {
    -webkit-transform: scale(1) translateX(0) rotate(0);
    width: 100%; }
  100% {
    -webkit-transform: scale(1) translateX(0) rotate(0deg);
    width: 0%; } }

@keyframes linkUp {
  0% {
    position: relative;
    bottom: 0px;
    opacity: 1; }
  25% {
    position: relative;
    bottom: 0px; }
  100% {
    position: relative;
    opacity: 0;
    bottom: 300px; } }

@keyframes linkDown {
  0% {
    position: relative;
    top: 0px;
    opacity: 1; }
  25% {
    position: relative;
    top: 0px; }
  100% {
    position: relative;
    opacity: 0;
    top: 500px; } }

@keyframes projectList {
  0% {
    opacity: 0;
    position: relative;
    top: 500px; }
  100% {
    opacity: 1;
    position: relative;
    top: 0px; } }

@keyframes fadeInProjects {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes content-container-fadeout {
  0% {
    position: relative;
    top: 0;
    opacity: 1; }
  100% {
    position: relative;
    top: 100%;
    opacity: 0; } }

@keyframes animateImg {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes animateImg2 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes animateImg3 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes content-container-fadein {
  0% {
    position: relative;
    top: -100%;
    opacity: 0; }
  100% {
    position: relative;
    top: 0;
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #eceaf9;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem; }
  body .content-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    opacity: 1;
    animation: projectList;
    animation-duration: 2s; }
    body .content-container h1 {
      color: #aca3f0;
      margin: 25px;
      text-shadow: 1px 1px 6px rgba(175, 174, 174, 0.97); }
    body .content-container #projects-list {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      @media screen and (min-width: 992px) {
        body .content-container #projects-list {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center; } }
      @media screen and (min-width: 1200px) {
        body .content-container #projects-list {
          flex-wrap: nowrap; } }
      body .content-container #projects-list .project-box {
        height: 300px;
        width: 90%;
        max-width: 400px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        animation-name: fadeInProjects;
        animation-duration: 4s;
        align-items: center;
        margin-bottom: 25px; }
        @media screen and (min-width: 992px) {
          body .content-container #projects-list .project-box {
            margin: 2%; } }
        body .content-container #projects-list .project-box .image-handler-div {
          height: 70%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          body .content-container #projects-list .project-box .image-handler-div img {
            border-radius: 10%;
            height: 100%;
            width: 100%;
            object-fit: cover;
            filter: brightness(0.3);
            box-shadow: 1px 1px 5px rgba(175, 175, 175, 0.97);
            object-position: 0 0; }
          body .content-container #projects-list .project-box .image-handler-div .title-project {
            position: absolute;
            color: white;
            font-size: 3rem; }
        body .content-container #projects-list .project-box .desc-box {
          width: 80%;
          height: 30%;
          margin-top: 1%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10%;
          opacity: 1;
          background-color: #aca3f0;
          box-shadow: 1px 1px 6px rgba(150, 150, 150, 0.97); }
          body .content-container #projects-list .project-box .desc-box span {
            font-size: 1.1rem;
            color: white; }
      body .content-container #projects-list .project-box:hover {
        cursor: pointer; }
    body .content-container #projects-footer {
      height: 50px;
      width: 100%;
      text-align: end; }
      body .content-container #projects-footer i {
        margin-right: 5%;
        font-size: 2rem;
        color: #aca3f0; }
  body .content-container-fadeout {
    animation-name: content-container-fadeout;
    animation-duration: 1s; }

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }

.spec-content-container {
  background-color: #eceaf9;
  height: 100%;
  width: 100%;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation-name: content-container-fadein;
  animation-duration: 1.5s; }
  @media screen and (min-width: 992px) {
    .spec-content-container {
      max-width: 600px; } }
  .spec-content-container h1 {
    color: #aca3f0;
    margin: 25px;
    text-shadow: 1px 1px 6px rgba(175, 174, 174, 0.97); }
  .spec-content-container .image-container {
    height: 50%;
    width: 90%; }
    .spec-content-container .image-container img {
      object-fit: cover;
      object-position: 0 0;
      height: 100%;
      width: 100%;
      border-radius: 10%;
      box-shadow: 1px 3px 6px rgba(150, 150, 150, 0.97); }
  .spec-content-container .animate {
    animation-name: fadeInProjects;
    animation-duration: 1s; }
  .spec-content-container .an1 {
    animation-name: animateImg;
    animation-duration: 5s; }
  .spec-content-container .an2 {
    animation-name: animateImg2;
    animation-duration: 5s; }
  .spec-content-container .an3 {
    animation-name: animateImg3;
    animation-duration: 5s; }
  .spec-content-container .text-container {
    margin-top: 10px;
    background-color: #aca3f0;
    border-radius: 10%;
    padding: 5%;
    width: 80%;
    height: 100%;
    box-shadow: 1px 1px 6px rgba(150, 150, 150, 0.97); }
    .spec-content-container .text-container .git-date-container {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .spec-content-container .text-container .git-date-container a, .spec-content-container .text-container .git-date-container span {
        text-decoration: none;
        color: white;
        font-size: 2.5rem;
        text-shadow: 1px 1px 6px rgba(150, 150, 150, 0.97); }
      .spec-content-container .text-container .git-date-container span {
        font-size: 1.5rem; }
    .spec-content-container .text-container .text-desc {
      margin-top: 10%;
      font-size: .9rem;
      color: white;
      text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.97); }
      @media screen and (min-width: 992px) {
        .spec-content-container .text-container .text-desc {
          width: 70%; } }

@keyframes slideLeft {
  0% {
    -webkit-transform: scale(1.9) translateX(-30%) rotate(22.8deg);
    width: 100%; }
  50% {
    -webkit-transform: scale(1) translateX(0) rotate(0);
    width: 100%; }
  100% {
    -webkit-transform: scale(1) translateX(0) rotate(0deg);
    width: 0%; } }

@keyframes linkUp {
  0% {
    position: relative;
    bottom: 0px;
    opacity: 1; }
  25% {
    position: relative;
    bottom: 0px; }
  100% {
    position: relative;
    opacity: 0;
    bottom: 300px; } }

@keyframes linkDown {
  0% {
    position: relative;
    top: 0px;
    opacity: 1; }
  25% {
    position: relative;
    top: 0px; }
  100% {
    position: relative;
    opacity: 0;
    top: 500px; } }

@keyframes projectList {
  0% {
    opacity: 0;
    position: relative;
    top: 500px; }
  100% {
    opacity: 1;
    position: relative;
    top: 0px; } }

@keyframes fadeInProjects {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes content-container-fadeout {
  0% {
    position: relative;
    top: 0;
    opacity: 1; }
  100% {
    position: relative;
    top: 100%;
    opacity: 0; } }

@keyframes animateImg {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes animateImg2 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes animateImg3 {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes content-container-fadein {
  0% {
    position: relative;
    top: -100%;
    opacity: 0; }
  100% {
    position: relative;
    top: 0;
    opacity: 1; } }

#about-content-div {
  color: #aaa1ec;
  text-shadow: 1px 1px 1px #a7a4a4;
  display: flex;
  flex-direction: column;
  animation-name: fadeInProjects;
  animation-duration: 1.5s;
  width: 80%;
  max-width: 300px;
  justify-content: flex-start;
  text-align: center; }
  #about-content-div h1, #about-content-div h2 {
    margin: 15px; }
  #about-content-div #about-text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start; }
    #about-content-div #about-text-div #span1 {
      border-radius: 10%;
      opacity: 1;
      background-color: #aca3f0;
      box-shadow: 1px 1px 6px rgba(150, 150, 150, 0.97);
      color: white;
      padding: 15px; }
    #about-content-div #about-text-div span {
      width: 80%;
      margin-bottom: 10px; }
    #about-content-div #about-text-div ul {
      width: 50%;
      font-size: 1rem;
      opacity: 1;
      background-color: #aca3f0;
      box-shadow: 1px 1px 6px rgba(150, 150, 150, 0.97);
      color: white;
      padding: 25px;
      border-radius: 10%; }
    #about-content-div #about-text-div #span2 {
      margin-top: 10px;
      text-align: center; }
      #about-content-div #about-text-div #span2 a {
        color: #aca3f0; }
  #about-content-div #contact a {
    font-size: 2.5rem;
    margin: 0 5px 100px 5px;
    text-decoration: none;
    color: #aca3f0; }
