@keyframes slideLeft {
  0% {
    -webkit-transform: scale(1.9) translateX(-30%) rotate(22.8deg);
    width: 100%; }
  50% {
    -webkit-transform: scale(1) translateX(0) rotate(0);
    width: 100%; }
  100% {
    -webkit-transform: scale(1) translateX(0) rotate(0deg);
    width: 0%; } }

@keyframes linkUp {
  0% {
    position: relative;
    bottom: 0px;
    opacity: 1; }
  25% {
    position: relative;
    bottom: 0px; }
  100% {
    position: relative;
    opacity: 0;
    bottom: 300px; } }

@keyframes linkDown {
  0% {
    position: relative;
    top: 0px;
    opacity: 1; }
  25% {
    position: relative;
    top: 0px; }
  100% {
    position: relative;
    opacity: 0;
    top: 500px; } }

@keyframes projectList {
  0% {
    opacity: 0;
    position: relative;
    top: 500px; }
  100% {
    opacity: 1;
    position: relative;
    top: 0px; } }

@keyframes fadeInProjects {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes content-container-fadeout {
  0% {
    position: relative;
    top: 0;
    opacity: 1; }
  100% {
    position: relative;
    top: 100%;
    opacity: 0; } }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #eceaf9;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem; }
  body .content-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    opacity: 1;
    animation: projectList;
    animation-duration: 2s; }
    body .content-container h1 {
      color: #aca3f0;
      margin: 25px; }
    body .content-container #projects-list {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      body .content-container #projects-list .project-box {
        height: 300px;
        width: 80%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        animation-name: fadeInProjects;
        animation-duration: 4s;
        align-items: center;
        margin-bottom: 25px; }
        body .content-container #projects-list .project-box .image-handler-div {
          height: 70%;
          overflow: hidden;
          border-radius: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          body .content-container #projects-list .project-box .image-handler-div img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            filter: brightness(0.3);
            object-position: 0 0; }
          body .content-container #projects-list .project-box .image-handler-div .title-project {
            position: absolute;
            color: white;
            font-size: 3rem; }
        body .content-container #projects-list .project-box .desc-box {
          width: 80%;
          height: 30%;
          margin-top: 1%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10%;
          opacity: 1;
          background-color: #aca3f0; }
          body .content-container #projects-list .project-box .desc-box span {
            font-size: 1.1rem;
            color: white; }
    body .content-container #projects-footer {
      height: 50px;
      width: 100%;
      text-align: end; }
      body .content-container #projects-footer i {
        margin-right: 5%;
        font-size: 2rem;
        color: #aca3f0; }
  body .content-container-fadeout {
    animation-name: content-container-fadeout;
    animation-duration: 1.5s; }
