@keyframes slideLeft {
  0% {
    -webkit-transform: scale(1.9) translateX(-30%) rotate(22.8deg);
    width: 100%; }
  50% {
    -webkit-transform: scale(1) translateX(0) rotate(0);
    width: 100%; }
  100% {
    -webkit-transform: scale(1) translateX(0) rotate(0deg);
    width: 0%; } }

@keyframes linkUp {
  0% {
    position: relative;
    bottom: 0px;
    opacity: 1; }
  25% {
    position: relative;
    bottom: 0px; }
  100% {
    position: relative;
    opacity: 0;
    bottom: 300px; } }

@keyframes linkDown {
  0% {
    position: relative;
    top: 0px;
    opacity: 1; }
  25% {
    position: relative;
    top: 0px; }
  100% {
    position: relative;
    opacity: 0;
    top: 500px; } }

@keyframes projectList {
  0% {
    opacity: 0;
    position: relative;
    top: 500px; }
  100% {
    opacity: 1;
    position: relative;
    top: 0px; } }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #eceaf9;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  border-bottom: none;
  display: flex;
  justify-content: center; }

#projects-list {
  animation: projectList;
  animation-duration: 2s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 15%; }
  #projects-list h1 {
    color: #aca3f0; }
