@import "./mediaquerys";

**{
    font-family: "Roboto", sans-serif;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
   
    
    border-bottom: none;
  }
  .background {
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  #background-both {
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden; 
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  #background-one {
    z-index: 10;
    width: 100%;
    opacity: 30%;
    background: linear-gradient(100deg, blue, white);
    -webkit-transform: scale(1.9) translateX(-25%) rotate(23deg);
  
    border: none;
    border-bottom: none;
  } 
  #background-one:focus {
    outline: none;
    border: none;
  }
  .background-one-transition-active {
    animation-name: slideLeft;
    animation-duration: 1.2s;
    animation-delay: 0s;
  }
  
  #background-two {
  
    background-color: #eceaf9;
    opacity: 1;
    -webkit-transform: scale(35) translateX(-25%) rotate(23deg);
  } 
  
  #start-content-div {
    height: 100%;
    display: flex; 
    justify-content: center;
    width: 100%;
    align-items: center;
  
    z-index: 1;
  }
  #link-nav {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  
    height: 100%;
    width: 100%;
    z-index: 5;
    .link-box {
      width: 100%;
      height: 50%;
    }
    #project-link-div{
      display:flex;
      align-items: flex-end;
    }
    #project-link {
      text-align: left;
      margin-left: 5%;
     

      align-items: center;
      @include tablets-up{
        margin-left: 15%;
        margin-bottom: 5%;
    
      }
    }
    #cv-link {
      text-align: right;
      margin-right: 10%;
      @include tablets-up{
        margin-right: 20%;
    
    
      }
    }
    .project-link-animation {
      animation-name: linkUp;
      animation-duration: 0.7s;
    }
    .cv-link-animation {
      animation-name: linkDown;
      animation-duration: 0.7s;
    }
    #project-link {
        font-size: 3rem;
      color: white;
      text-shadow: 1px 1px 6px rgba(150, 150, 150, 0.97);
    }
    #cv-link {
    font-size: 3rem;
      color: hsl(247, 72%, 79%);
    }
    h2:hover {
      cursor: pointer;
    }
  }

