@import "./keyframes";

#about-content-div{
    color: hsl(247, 67%, 78%);
    text-shadow: 1px 1px 1px rgb(167, 164, 164);
    display: flex;
    flex-direction: column;
    animation-name: fadeInProjects;
    animation-duration: 1.5s;
    width: 80%;
    max-width: 300px;
   justify-content: flex-start;
    text-align: center;
h1,h2{
    margin: 15px;

} 
#about-text-div  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    #span1{
        border-radius: 10%;
        opacity: 1;
        background-color:#aca3f0 ;
        box-shadow: 1px 1px 6px rgba(150, 150, 150, 0.97);
        color: white;
        padding: 15px;

    }
    span{
        width: 80%;
        margin-bottom: 10px;
    }
   ul{
       width: 50%;
 
       font-size: 1rem;
       opacity: 1;
       background-color:#aca3f0 ;
       box-shadow: 1px 1px 6px rgba(150, 150, 150, 0.97);
       color: white;
       padding: 25px;
       border-radius: 10%;
   }
   #span2{
       margin-top: 10px;
    
       text-align: center;
       a{
           color: #aca3f0;
       }
   }
 
}
#contact{
    a{
        font-size: 2.5rem;
        margin: 0 5px 100px 5px;
        text-decoration: none;
        color: #aca3f0;
    }
}
}