@keyframes slideLeft {
    0%{
          -webkit-transform:
            scale(1.9)
            translateX(-30%) 
            rotate(22.8deg);
            width: 100%;
            }
    50% { -webkit-transform:
    
         scale(1.0)
         translateX(0)
          rotate(0);
          width: 100%;
       }
    100%{
        -webkit-transform:
         scale(1)
         translateX(0)
          rotate(0deg);
          width: 0%;
      }

    }
 
@keyframes linkUp{
    0%{
        position: relative;
        bottom: 0px;
        opacity: 1;
    }
    25%{
        position: relative;
        bottom: 0px;
    }
    100%{
        position: relative;
        opacity: 0;
        bottom: 300px;
    }
}

 
@keyframes linkDown{
    0%{
        position: relative;
        top: 0px;
        opacity: 1;
    }
    25%{
        position: relative;
        top: 0px;
    }
    100%{
        position: relative;
        opacity: 0;
        top: 500px;
    }
}

@keyframes projectList{
    0%{
        opacity: 0;
        position: relative;
        top: 500px;

    }
    100%{
        opacity: 1;
        position: relative;
        top: 0px;
    }
}


@keyframes overlayFade{
    0%{
        opacity: 0;
    

    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: .7;
        
    }
}