@keyframes slideLeft {
    0%{
          -webkit-transform:
            scale(1.9)
            translateX(-30%) 
            rotate(22.8deg);
            width: 100%;
            }
    50% { -webkit-transform:
    
         scale(1.0)
         translateX(0)
          rotate(0);
          width: 100%;
       }
    100%{
        -webkit-transform:
         scale(1)
         translateX(0)
          rotate(0deg);
          width: 0%;
      }

    }
 
@keyframes linkUp{
    0%{
        position: relative;
        bottom: 0px;
        opacity: 1;
    }
    25%{
        position: relative;
        bottom: 0px;
    }
    100%{
        position: relative;
        opacity: 0;
        bottom: 300px;
    }
}

 
@keyframes linkDown{
    0%{
        position: relative;
        top: 0px;
        opacity: 1;
    }
    25%{
        position: relative;
        top: 0px;
    }
    100%{
        position: relative;
        opacity: 0;
        top: 500px;
    }
}

@keyframes projectList{
    0%{
        opacity: 0;
        position: relative;
        top: 500px;

    }
    100%{
        opacity: 1;
        position: relative;
        top: 0px;
    }
}


@keyframes fadeInProjects{
    0%{
        opacity: 0;
    

    }
  
    100%{
        opacity: 1;
        
    }
}

@keyframes content-container-fadeout{
    0%{
        position: relative; 
        top:0;
        opacity: 1;
    }
    100%{
        position: relative;
        top: 100%;
        opacity: 0;
    }
}

@keyframes animateImg{
    0%{
        opacity: 0;
    

    }
    10%{
        opacity: 1;
    }
    
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        
    }
}

@keyframes animateImg2{
    0%{
        opacity: 0;
    

    }
    10%{
        opacity: 1;
    }
    
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        
    }
}
@keyframes animateImg3{
    0%{
        opacity: 0;
    

    }
    10%{
        opacity: 1;
    }
    
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        
    }
}
@keyframes content-container-fadein{
    0%{
        position: relative; 
        top:-100%;
        opacity: 0;
    }
    100%{
        position: relative;
        top: 0;
        opacity: 1;
    }
}


