@mixin tablets-up {
    @media screen and (min-width:769px) {
        @content;
    }
}@mixin large992 {
    @media screen and (min-width:992px) {
        @content;
    }
}@mixin extraLarge1200 {
    @media screen and (min-width:1200px) {
        @content;
    }
}