/* The animation code */
@import "./keyframes";
**{
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
 
  font-size: 1.2rem;
  border-bottom: none;
}
.background {
  height: 100%;
  width: 100%;
  z-index: 0;
}
#background-both {
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 0;
}
#background-one {
  z-index: 10;
  width: 100%;
  opacity: 30%;
  background: linear-gradient(100deg, blue, white);
  -webkit-transform: scale(1.9) translateX(-25%) rotate(23deg);

  border: none;
  border-bottom: none;
} 
#background-one:focus {
  outline: none;
  border: none;
}
.background-one-transition-active {
  animation-name: slideLeft;
  animation-duration: 1.2s;
  animation-delay: 0s;
}

#background-two {
  //background: linear-gradient(5deg, rgb(159, 152, 224), white);
  background-color: #eceaf9;
  opacity: 1;
  -webkit-transform: scale(35) translateX(-25%) rotate(23deg);
} 

#start-content-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  z-index: 1;
}
#link-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin-top: 50%;

  width: 100%;
  z-index: 5;
  .link-box {
    width: 100%;
  }
  #project-link {
    text-align: left;
    margin-left: 10%;
  }
  #cv-link {
    text-align: right;
    margin-right: 20%;
  }
  .project-link-animation {
    animation-name: linkUp;
    animation-duration: 0.7s;
  }
  .cv-link-animation {
    animation-name: linkDown;
    animation-duration: 0.7s;
  }
  #project-link {
    color: white;
    text-shadow: 1px 1px 6px rgba(150, 150, 150, 0.97);
  }
  #cv-link {
    color: hsl(247, 72%, 79%);
  }
  h2:hover {
    cursor: pointer;
  }
}
