@import "./keyframes";
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    width: 100%;
}
body {
    background-color:#eceaf9;
     font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    .content-container{
       text-align: center;
       display: flex;
       flex-direction: column;
      
        opacity: 1;
       animation: projectList;
       animation-duration: 2s;
  
    h1 { 
        color: #aca3f0;
        margin: 25px;
    }
   

  #projects-list{
  
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
     // height: 100%;
      width: 100%;
   
      .project-box{
          height: 300px;
          width: 80%;
          overflow: hidden;
          
          display: flex;
          flex-direction: column;
          animation-name: fadeInProjects;
                 
          animation-duration: 4s;
          align-items: center;
          margin-bottom: 25px;
          .image-handler-div{
              height: 70%;
              overflow: hidden;
              border-radius: 10%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            
              
              img{
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  filter: brightness(0.3);
              
                  object-position: 0 0;
                
              }
              .title-project{
                  position: absolute;
                  color: white;
                  font-size: 3rem;
                   
              }
             
          }
          .desc-box{
              width: 80%;
              height: 30%;
              margin-top: 1%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 10%;
              opacity: 1;
              background-color:#aca3f0 ;
              span{
                  font-size: 1.1rem;
                  color: white;
                  
              }
          }
      
      }
  
  } 

  #projects-footer{
      height: 50px;
      width: 100%;
      text-align: end;
      i{
          margin-right: 5%;
          font-size: 2rem;
          color: #aca3f0;
      }
  }
}
.content-container-fadeout{
    animation-name: content-container-fadeout;
    animation-duration: 1.5s;
  
 
}

}
