 html,body{
     height: 100%;
     width: 100%;
 }
 
 .content-container{
    background-color:#eceaf9;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    img{
        height: 50px;
        width: auto;
    }

 }